body {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}
.main {
  margin: 10% auto;
  width: fit-content;
  background-color: #ddd;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
.form_input {
  padding: 30px;
}
.form_inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form_inline label {
  margin: 5px 5px 5px 0;
}

.form_inline input {
  vertical-align: middle;
  margin: 5px 5px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.buttonsection {
  margin: 3%;
}
.button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}

.button:hover {
  background-color: royalblue;
}

.remove {
  background-color: rgb(192, 53, 53);
}

.remove:hover {
  background-color: rgb(187, 43, 43);
}
.submit {
  padding: 10px 20px;
  background-color: rgb(9, 128, 45);
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}
