.admin .admin_top {
  background-color: #36454f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.admin .admin_top .sideTop {
  width: 50%;
  padding-right: 60px;
  padding-left: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.admin .admin_top .logo {
  padding: 10px;
}
.admin .admin_top .one {
  padding: 10px;
}

.admin .admin_top .two {
  padding: 10px;
}
.admin .admin_top .three {
  padding: 10px;
}
