.app .app_top {
  background-color: #36454f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.app .app_top .sideTop {
  width: 30%;
  padding-right: 60px;
  padding-left: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app .app_top .logo {
  padding: 10px;
}
.app .app_top .one {
  padding: 10px;
}

.app .app_top .two {
  padding: 10px;
}
.app .app_top .three {
  padding: 10px;
}
